__pycache__/initializations.cpython-37.pyc
__pycache__/input_data.cpython-37.pyc
__pycache__/layers.cpython-37.pyc
__pycache__/optimizer.cpython-37.pyc
__pycache__/model.cpython-37.pyc
__pycache__/preprocessing.cpython-37.pyc
